<div class="ico-web">
    <div>
        <span>Back-End</span>
        <p>
            01001100 01101111 01110010 01100101 01101101 00100000 01101001 01110000 01110011 01110101 01101101 00100000
            01100100 01101111 01101100 01101111 01110010 00100000 01110011 01101001 01110100 00100000 01100001 01101101
            01100101 01110100 00101100 00100000 01100011 01101111 01101110 01110011 01100101 01100011 01110100 01100101
            <span>HTML</span> 
            01110100 01110101 01110010 00100000 01100001 01100100 01101001 01110000 01101001 01110011 01100011 01101001
            01101110 01100111 00100000 01100101 01101100 01101001 01110100 00101100 00100000 01110011 01100101 01100100
            00100000 01100100 01101111 00100000 01100101 01101001 01110101 01110011 01101101 01101111 01100100 00100000
            <span>JS</span> 
            01110100 01100101 01101101 01110000 01101111 01110010 00100000 01101001 01101110 01100011 01101001 01100100
            01101001 01100100 01110101 01101110 01110100 00100000 01110101 01110100 00100000 01101100 01100001 01100010
            01101111 01110010 01100101 00100000 01100101 01110100 00100000 01100100 01101111 01101100 01101111 01110010
            <span>CSS</span> 
            01100101 00100000 01101101 01100001 01100111 01101110 01100001 00100000 01100001 01101100 01101001 01110001
            01110101 01100001 00101110
        </p>
    </div>
    <div>
        <span>Welcome</span>
        <p>Officia consectetur do duis sit cillum nulla. Ut fugiat irure consequat excepteur est eiusmod consequat
            commodo in adipisicing nostrud. Cillum officia non adipisicing ex qui cupidatat magna cillum duis aliquip.
            Esse consectetur mollit deserunt dolor aute sint ad velit eiusmod.
            <span>Hello</span>
            Sit velit laboris nulla aliqua. Et Lorem elit sit sint excepteur culpa eu aliqua id ea reprehenderit culpa
            elit. Magna dolor elit quis occaecat exercitation Lorem ad eiusmod.
            <span>World</span>
            Irure culpa in cillum laborum laborum Lorem et pariatur. Laboris fugiat consectetur incididunt aliqua
            occaecat aliqua consequat amet laboris commodo. Id fugiat proident voluptate ea fugiat. Reprehenderit velit
            tempor mollit.
            <span>!</span>
            sit excepteur minim. Dolore magna voluptate elit eu et exercitation pariatur voluptate. Tempor
            nostrud nostrud consectetur labore sint aliquip officia aute. Velit proident exercitation cupidatat
            reprehenderit culpa. Sint aute voluptate in fugiat quis laborum culpa occaecat sunt laboris id magna
            exercitation exercitation. Mollit ipsum nulla ut ad. Nulla labore fugiat laboris consectetur mollit nisi
            duis. Magna exercitation voluptate cillum non duis quis sit tempor nostrud sint.
            Fugiat eiusmod dolor irure irure commodo minim cupidatat do Lorem laboris excepteur. Sunt labore id amet
            tempor. Pariatur mollit exercitation cupidatat voluptate nulla ad ut magna pariatur non ipsum et.
        </p>
    </div>
    <div></div>
</div>

<% for (let i=0; i < 10; i++) {  %>
<h1>Aqedfs</h1>
<p>Proident in ex tempor sit ipsum. Ex culpa nisi eu id cupidatat. Consequat duis minim aliquip et ullamco
    laborum elit mollit ex voluptate. Laborum velit velit aliqua cillum adipisicing. Elit cillum excepteur
    fugiat reprehenderit ullamco commodo. Do et ea aliqua magna nulla et occaecat.
    Reprehenderit id ea tempor aliqua. Deserunt deserunt qui et mollit duis fugiat reprehenderit veniam
    cillum. Sunt veniam nulla qui ullamco reprehenderit est commodo voluptate pariatur laborum laboris
    consectetur cupidatat. Amet in ipsum nisi cupidatat adipisicing sunt id elit nulla quis occaecat magna.
</p>
<p>
    Pariatur enim qui occaecat laboris et nisi. Proident irure elit occaecat reprehenderit id consectetur
    consequat magna ea nostrud quis do adipisicing sunt. Laboris magna cillum consectetur Lorem incididunt
    pariatur.
    <a href="">sdfsdfdsf</a>

    Ea esse laboris et labore occaecat Lorem in officia sit. Eu nostrud anim nostrud qui aliquip tempor nisi
    <a href="">sdfsdfdsf</a>
    do ea aliquip. Irure fugiat officia ullamco sit nostrud reprehenderit ex ad culpa dolore ullamco id.
    Proident reprehenderit commodo esse nisi sunt officia. Cupidatat pariatur sint reprehenderit aliqua
    dolore sit eiusmod culpa occaecat Lorem.
</p>
<% } %>